<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <!-- Example Code Start-->
    <span class="badge text-bg-primary" _msttexthash="4577989" _msthash="188">待处理</span>
    <span class="badge text-bg-info" _msttexthash="4428307" _msthash="189">执行中</span>
    <span class="badge text-bg-danger" _msttexthash="ffb3ff" _msthash="190">失败</span>
    <span class="badge text-bg-warning" _msttexthash="ffb3ff" _msthash="191">失败</span>
    <!-- Example Code End -->
  </body>
</html>
