<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查询结果展示</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">导航栏</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">主页</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/orders/create">去下单</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    报表
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">导出</a></li>
                    <li><a class="dropdown-item" href="#">生成</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">打印</a></li>
                </ul>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
            </div>
        </div>
    </nav>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">订单id</th>
            <th scope="col">URL</th>
            <th scope="col">数量</th>
            <th scope="col">用户名</th>
            <th scope="col">订单状态</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {%for item in all_order%}
            <tr>

                <td>{{ item.order_id }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.count }}</td>
                <td>{{ item.real_name }}</td>
                <td>{{ status_dict.get(item.status) }}</td>
            </tr>
            {%endfor%}

        </tbody>
    </table>
</body>
</html>
